ion-title {
    background: #9d9fa6;
    padding-top: 50px;
    padding-bottom: 45px;
    margin-bottom: 50px;
}
p{
    text-align: center;
}
ion-card {
    padding:10px 25px;
    background: #9d9fa6;
    color: white;
    font-weight: bold;
}
ion-button.ion-margin {
    font-size: larger;
    text-transform: uppercase;
    font-weight: bolder;
}